.misionBox
{
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: auto;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mision
{
    width: 30%;
    margin-left: -300px;
}

.misionHeader
{
    background-color: rgb(0, 112, 84);
    color: white;
    padding-left: 5px;
}