.publicacionestitle {
    border-width: 5px;
    border-bottom-style: double;
    border-top-style: double;
    border-color: #06BFAA;
    margin-bottom: 10px;
    align-content: flex-end;
    text-align: center
}

.fotos {
    
    margin-bottom: 10px;
    justify-content:space-around
}
.fotos img{
display: inline-block;
padding-bottom: 25px;
padding-right: 5px;
padding-top: 25px;
}

.fotos col:hover {
  transform: scale(1.1);
}
.miperfil{
      text-align: center
}
.personal{
   background-color: gray;
}

.card-footer{
       justify-content: center
}